PORT=2800
MONGODB_URI=MONGODB_URI
CORS_ORIGIN=*

ACCESS_TOKEN_SECRET=IntoToken
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=IntoToken
REFRESH_TOKEN_EXPIRY=10d

SENDING_MAIL=SENDING_MAIL
MAIL_PASS=MAIL_PASS

NOW_API_KEY=your_nowpayments_api_key
NOW_IPN_SECRET=your_ipn_secret   # dashboard > store settings se
BASE_URL=http://localhost:2800/api/v1

CLOUDINARY_CLOUD_NAME=CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=CLOUDINARY_API_SECRET
